a{
  
}

h5{
  padding-bottom: 8px;
}

.post-number{
    color: gray;
}

.card{
  width: 100%;
  margin-bottom: 15px;
}

.card-text{
  margin-top: 5px;
}

.icon{
  width: 11%;
  border-radius: 100%;
  margin: 5px 15px 5px 5px;
}

.icon2{
  width: 3.5%;
  border-radius: 100%;
  margin: 0px 8px 2px 0px;
}

.icon3{
  width: 30px;
  border-radius: 100%;
  float: left;
  margin-top: -8px;
  position: relative;
}

.icon4{
  width: 48%;
  border-radius: 100%;
  margin: auto;
  position: absolute;
}

.container{
  width: 100%;
}

.tab-content{
  width: 100%;
}

#commentbox{
  border: 0px;
  outline: none;
  padding: 5x;
  float: left;
  margin: 0px;
}

#commentbox_btn{
  float: right;
}

#sidebar{
  right: 20.5%;
  z-index: 1;
}
