body{
  font-family: 'Arial';
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

header{
  background: #B6504A;
  width: 100%;
  padding: 150px 30px 100px 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 
  position: absolute;
}

blockquote {
  line-height: 2em;
  text-align: justify;
  margin: 0px;
  padding: 0px;
}

.container{
  margin-top: 30px;
} 

.container-fluid{
  margin-top: 7%;
}

.img {
  width: 100%;
  height: 280px;
}

.content{
  position: relative;
  width: 48%;
  margin: 10px;
  padding: 15px;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 0px 5px #ddd;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity:0;
  transition: 2s;
}

.content:hover .overlay {
  opacity: 1;
}

.overlaytext {
  color: #000;
  position: absolute;
  margin: 5px;
  padding: 10px;
}

.contactpage tr, th, td{
  padding: 10px;
}

.contactpage{
  width: 70%;
}
