body{
  font-family: 'Arial';
}

*{
  font-size:20px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

header{
  background: #B6504A;
  width: 100%;
  padding: 150px 30px 100px 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 
  position: absolute;
}

footer{
  margin-bottom: 0px;
  background: black;
  width: 100%;
  position: absolute;
  margin: auto;
  padding: 30px;
}

blockquote {
  line-height: 2em;
  text-align: justify;
  margin: 0px;
  padding: 0px;
}

.container{
  width: 80%;
  margin-top: 30px;
} 

.container-fluid{
  margin-top: 2%;
}

.contactpage tr, th, td{
  padding: 10px;
}

.contactpage{
  width: 70%;
}

.cite{
  text-align: justify;
  border-left: 5px solid #777;
  padding-left: 10px;
}

.logo{
  width: 125px;
  float: left;
  padding-right: 20px;
}

.footerlinks{
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 20px;
  margin-left: 120px;
}

.menu{
  width: 100%;
  padding: 10px;
  background: #BDBDBD;
}
